<h1>JEOPARDY!</h1>
<ul class="categories">
	<li>
		<div>title</div>
	</li>
	<li>
		<div>title</div>
	</li>
	<li>
		<div>title</div>
	</li>
	<li>
		<div>title</div>
	</li>
	<li>
		<div>title</div>
	</li>
	<li>
		<div>title</div>
	</li>
</ul>
<div class="answers">
	<ul>
		<li>
			<div><span>$</span>200</div>
		</li>
		<li>
			<div><span>$</span>200</div>
		</li>
		<li>
			<div><span>$</span>200</div>
		</li>
		<li>
			<div><span>$</span>200</div>
		</li>
		<li>
			<div><span>$</span>200</div>
		</li>
		<li>
			<div><span>$</span>200</div>
		</li>
	</ul>
	<ul>
		<li>
			<div>$400</div>
		</li>
		<li>
			<div>$400</div>
		</li>
		<li>
			<div>$400</div>
		</li>
		<li>
			<div>$400</div>
		</li>
		<li>
			<div>$400</div>
		</li>
		<li>
			<div>$400</div>
		</li>
	</ul>
	<ul>
		<li>
			<div>$600</div>
		</li>
		<li>
			<div>$600</div>
		</li>
		<li>
			<div>$600</div>
		</li>
		<li>
			<div>$600</div>
		</li>
		<li>
			<div>$600</div>
		</li>
		<li>
			<div>$600</div>
		</li>
	</ul>
	<ul>
		<li>
			<div>$800</div>
		</li>
		<li>
			<div>$800</div>
		</li>
		<li>
			<div>$800</div>
		</li>
		<li>
			<div>$800</div>
		</li>
		<li>
			<div>$800</div>
		</li>
		<li>
			<div>$800</div>
		</li>
	</ul>
	<ul>
		<li>
			<div>$1000</div>
		</li>
		<li>
			<div>$1000</div>
		</li>
		<li>
			<div>$1000</div>
		</li>
		<li>
			<div>$1000</div>
		</li>
		<li>
			<div>$1000</div>
		</li>
		<li>
			<div>$1000</div>
		</li>
	</ul>
</div>